/*

Template 2097 Pop

https://www.tooplate.com/view/2097-pop

*/

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: 300;
  color: rgb(0, 0, 0);
  position: reltive;
  background-color: rgba(186, 186, 186);
    background-image: url('../img/.png'), url('../img/Clouds_PNG_Transparent_Clip_Art_Image.png'), url('../img/1-14969_clouds-realistic-cloud-clouds-png.png');
    background-size: 50%, cover, cover;
    background-position: center, top, bottom;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-y: auto; 
}
.myname {
  font-style: italic;
  font-family: Impact;
  position: sticky;
  z-index: 300;
  font-size: 180%;
  text-align: center;
}

.yap-section{
  height: 120vh;
  background-color: rgba(186, 186, 186);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  z-index: -1;

}

.glass-card{
    position: sticky;
    width: 450px;
    height: 180px;
    font: impact;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    top: 0;
    margin: 0 auto;
    color: rgb(0, 0, 0);
    display: flex;
    z-index: 1;
}

.navbar{
  position: sticky;
  top: 0;
  width: 80%;
  height: 20px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  backdrop-filter: blur(4px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.37);
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  color: rgb(0, 0, 0);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 1000;
}

.fade-section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-section.visible {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 2;
}

.btnnn {
  display: inline-block;
  margin: 20;
  margin-top: 5px;
  padding: 10px 20px;
  background: rgba(150, 150, 150, 0.545);
  border-radius: 12px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: background 0.3s ease, transform 0.3s ease;
}

.btn:hover {
  background: rgba(0, 0, 0, 0.092);
  transform: scale(1.05);
}

h1 {
  font-size: 2.8rem;
}

#tm-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  transition: all 0.3s ease;
}

#tm-bg:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#tm-wrap {
  display: flex;
  align-items: center;
  height: 100%;
  min-height: 100vh;
}

p {
  line-height: 1.9;
  letter-spacing: 1px;
}

.tm-main-content {
  display: flex;
  align-items: center;
  padding: 50px 15px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
}

.tm-site-header-col {
  display: flex;
  align-items: center;
}

.tm-site-header {
  margin: 10px;
  text-align: center;
  width: 100%;
  font-style: italic;
}

.tm-nav ul {
  padding-left: 0;
  display: block;
}

.tm-nav li {
  list-style: none;
  display: inline-block;
  border: 1px solid rgb(0, 0, 0);
  float: left;
  margin: 10px;
}

.tm-nav-link {
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 165px;
  height: 165px;
  text-align: center;
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
  position: relative;
}

.tm-nav-text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
}

.fa-3x {
  font-size: 2.5em;
}

.product {
    transition: all 0.3s ease;
    font: impact;
    font-style: italic;
    background: #eeeeee;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.37);
}

.product:hover {
  background: #ffffff;
  color: #a9a9a9;
  transform: scale(1.10);
}

.tm-nav-icon {
  display: block;
  margin-bottom: 25px;
}

/* Expanding Grid Items from Codrops */
.tm-page-title {
  font-weight: 300;
}
.content {
  max-width: 370px;
}
.grid {
  display: flex;
  flex-wrap: wrap;
}
.grid__item {
  margin: 10px;
}
.product {
  position: relative;
  cursor: pointer;
}

.product__bg {
  width: 100%;
  height: 100%;
  top: 0px;
}

.product__bg,
.product__description {
  opacity: 0;
  position: absolute;
}

.product__description {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}

.tm-fa-close {
  font-size: 30px;
}

.details {
  font-size: 1rem;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
  padding: 15px;
  display: none;
}

.details > * {
  position: relative;
  opacity: 0;
}

.details--open {
  pointer-events: auto;
}

.details__bg {
  width: 100%;
  max-width: 900px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.details__bg--down {
  background: #232323;
  background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.37);}

.details__bg {
  padding: 50px;
  transform-origin: 0 0;
}

.details__close {
  position: absolute;
  top: 5px;
  right: 0;
  border: 0;
  background: none;
  margin: 1em;
  cursor: pointer;
  font-size: 0.85em;
  color: rgb(5, 5, 5);
  z-index: 1001;
}

/* Team */
.tm-reverse-sm {
  flex-direction: row;
}

/* Our Work */
.tm-slider-img-link {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 1%;
}

.slick-dots li button:before {
  font-size: 20px;
  color: rgb(0, 0, 0);
  opacity: 1;
}

.slick-dots {
  position: absolute;
  bottom: -40px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: rgb(148, 148, 148);
}

/* Contact */
.form-control {
  font-size: 1.1rem;
  border-radius: 0;
  border: none;
  background-color: #353541;
  color: rgb(0, 0, 0);
  padding: 0.75rem;
}

.form-control:focus {
  color: #000000;
  background-color: #4d4c59;
  border-color: transparent;
}

.tm-col-email {
  padding-left: 0;
}

.tm-btn-submit {
  background-color: #000000;
}

.tm-btn-gray {
  background-color: #494752;
  color: rgb(2, 2, 2);
}

.tm-btn-gray:hover {
  background-color: #77757d;
  color: rgb(0, 0, 0);
}

.btn {
  padding: 0.5rem 2.4rem;
  font-size: 1.2rem;
  border-radius: 0;
}

.btn-primary {
  border-color: transparent;
}

.btn-primary:hover {
  background-color: #77757d;
  border-color: transparent;
}

/* Footer */
footer {
  position: fixed;
  bottom: 30px;
  text-align: center;
  left: 0;
  right: 0;
}

.tm-text-highlight {
  color: rgb(0, 0, 0);
}
.tm-text-highlight:hover {
  color: red;
}
.tm-main-content.tm-footer-relative {
  flex-direction: column;
}
.tm-main-content.tm-footer-relative footer {
  position: relative;
  bottom: 0;
  margin-top: 50px;
}

.tm-copyright-text {
  background-color: rgba(0, 0, 0, 0.6);
  display: inline-block;
  padding: 10px 30px;
}

a,
button {
  transition: all 0.3s ease;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

p:last-child {
  margin-bottom: 0;
}

@media (min-width: 900px) {
  .container {
    max-width: 900px;
  }
}

@media (min-width: 767px) and (max-width: 991px), (max-width: 440px) {
  .tm-nav-link {
    width: 145px;
    height: 145px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 450px;
  }
  .content {
    margin-left: auto;
    margin-right: auto;
  }
  .tm-nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .grid {
    justify-content: center;
  }
  .tm-col-email {
    padding-left: 15px;
  }
  .tm-reverse-sm {
    flex-direction: column-reverse;
  }
}

@media (max-width: 544px) {
  .tm-main-content {
    flex-direction: column;
  }
  .details__bg {
    padding: 55px 40px;
  }
  .slick-dots li button:before {
    font-size: 15px;
  }

  footer {
    position: relative;
    bottom: 0;
  }
}

@media (max-width: 419px) {
  .tm-nav-link {
    width: 120px;
    height: 120px;
  }

  .fa-3x {
    font-size: 2.2em;
  }
}
