html {
  scroll-behavior: smooth;
}

header{
  margin: 0 !important;
}

.navbar{
  position: sticky;
  top: 0;
  width: 80%;
  height: 20px;
  margin: 0 auto;
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  backdrop-filter: blur(4px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.37);
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  color: rgb(0, 0, 0);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 1000;
}

body{
    margin: 0;
    overflow-y: auto;
    background-color: rgb(255, 255, 255);
    font-family: Arial, "Courier New", 'Times New Roman', Times, serif;
    font-style: italic;
    color: rgb(0, 0, 0);
}

footer{
    margin: 0 auto;
    overflow-y: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.titre{
  font-family: Impact;
  font-size: 45px;
  position: fixed;
  text-align: right;
  text-shadow: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 25%;
  z-index: 1000;
  margin-top: 20%;
}

.hero {
  height: 100vh;
  margin: auto;
  background-color: white;
  display: flex;
  color:rgb(0, 0, 0);
  align-items: center;
}

.yap-section{
  height: 120vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);

}

.glass-card{
    position: sticky;
    width: 450px;
    height: 180px;
    font: impact;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    top: 0;
    margin: 0 auto;
    color: rgb(0, 0, 0);
    display: flex;
    z-index: 1;
}


.btn {
  display: inline-block;
  margin: 20;
  margin-top: 5px;
  padding: 10px 20px;
  background: rgba(150, 150, 150, 0.545);
  border-radius: 12px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: background 0.3s ease, transform 0.3s ease;
}

.btn:hover {
  background: rgba(0, 0, 0, 0.092);
  transform: scale(1.05);
}



.fade-section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-section.visible {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 2;
}
